<!--

<mat-card class=matcard>
  <button class='buttons'
    (click)="post(propertyInput.value)">
    <mat-icon>add</mat-icon>
  </button>

  <mat-form-field>
    <mat-label>Property item</mat-label>
    <input class=input  #propertyInput matInput placeholder="tttttttttttttttttt" />
  </mat-form-field>

  <button class=button1 mat-icon-button mat-mini-fab>
    <mat-icon (click)='update(Infodata.propertyid, propertyInput.value)'>
            edit
          </mat-icon>
  </button>

  <button class=button2 mat-icon-button mat-mini-fab>
    <mat-icon (click)='delete(Infodata.propertyid)' >
            delete
  </mat-icon>
  </button>
</mat-card class=matcard>

-->
