button.buttons {
    float: right;
    margin-right: 10px;
}

button.button1 {
    float: right;
    margin-right: 20px;
    color: rgb(15, 15, 15);
    background-color: aliceblue;
}

button.button2 {
    float: right;
    margin-right: 20px;
    color: red;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    background-color: aliceblue;
}
