

<div class='Launch-Title'>
  <h1>
    Intelligent Energy Products
  </h1>
</div>
<div>
    <nav>
      <div class='flex-container'>
        <a routerLink="/iDash" routerLinkActive="active">iDash</a>
        <a routerLink="/iReport" routerLinkActive="active">iReport</a>
        <a routerLink="/iIntell" routerLinkActive="active">iIntell</a>
        <a routerLink="/iBill" routerLinkActive="active">iBill</a>
        <a routerLink="/iControl" routerLinkActive="active">iControl</a>

      </div>
        <router-outlet></router-outlet>
    </nav>
</div>
